:host {
    display: block;
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-section {
    margin-bottom: 25px;
}

.login-card {
    background: linear-gradient(180deg, var(--bg-surface-color) 0%, var(--bg-surface-color) 45%, var(--bg-color) 100%);
    border-radius: var(--border-radius-m);
    padding: 40px 50px;
    width: 100%;
    max-width: 450px;
    position: relative;
    // border: 1px solid rgba(220, 38, 38, 0.1);
}

.card-header {
    text-align: center;
    margin-bottom: 35px;
}

.title {
    font-size: 24px;
    font-weight: var(--font-weight-heading);
    color: var(--text-color);
}

.subtitle {
    font-size: 13px;
    color: var(--text-color-second);
    font-weight: var(--font-weight-normal);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 8px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    padding-bottom: 8px;
    transition: border-color 0.2s;

    &:focus-within {
        border-color: var(--border-hover-color);
    }

    &:has(.ng-touched.ng-invalid) {
        border-color: var(--danger-color) !important;
    }
}

.pi {
    color: #9CA3AF;
    font-size: 1.1rem;
    margin-right: 12px;
}

.form-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 13px;
    color: #374151;
    padding: 4px 0;
    letter-spacing: 0.5px;

    &::placeholder {
        color: #9CA3AF;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 13px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--text-color-second);
    font-weight: var(--font-weight-normal);

    input {
        width: 16px;
        height: 16px;
    }

    input[type="checkbox"] {
        accent-color: var(--primary-color);
    }
}


.forgot-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: var(--font-weight-heading);
    font-size: 12px;
}

.login-btn {
    background-color: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 100%);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-size: 14px;
    width: 150px;
    margin: 0 auto;
    font-weight: var(--font-weight-heading);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 6px rgba(29, 155, 240, 0.2);
}

.pi-sign-in {
    font-size: 1rem;
    color: #FFFFFF;
}

.signup-footer {
    text-align: center;
    margin-top: 25px;
    font-size: 13px;
    color: var(--text-color);
    font-weight: var(--font-weight-heading);
}

.signup-link {
    color: var(--danger-color);
    text-decoration: none;
    font-weight: var(--font-weight-heading);

    &:hover {
        text-decoration: underline;
    }
}