<div class="modal-overlay" (click)="onCancel()">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-circle">
                <span class="pi pi-trash"></span>
            </div>
        </div>
        <div class="modal-body">
            <h3>Are you sure !</h3>
            <p>Lorem Ipsum is a placeholder text commonly used in the printing and publishing</p>
            <button class="logout-btn" (click)="onConfirm()">Log Out</button>
        </div>
    </div>
</div>