<div class="user-page-container">
    <div class="header-section">
        <h2>Products Table</h2>
        <div class="header-line"></div>
    </div>

    <div class="table-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price(USD)</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="products$ | async as products">
                    <ng-container *ngIf="apiStatus$ | async as apiStatus">
                        <tr *ngFor="let product of products; trackBy: trackById; let i = index">
                            <td>{{ product.id }}</td>
                            <td>{{ product.title }}</td>
                            <td class="description-col">
                                <app-read-more [text]="product.description" [limit]="60"></app-read-more>
                            </td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price | currency }}</td>
                            <td class="image-col">
                                <div class="icon-box">
                                    <span class="pi pi-image"></span>
                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="apiStatus === 'success' && products.length === 0">
                            <td colspan="6" class="no-data">No products found</td>
                        </tr>

                        <tr *ngIf="apiStatus === 'loading'">
                            <div class="loader-container">
                                <app-loader [size]="50"></app-loader>
                            </div>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>