<ng-container *ngIf="userInfo$ | async as userInfo">
    <div class="dashboard-container">
        <div class="welcome-card-outer">
            <div class="welcome-card-inner">
                <div class="card-settings">
                    <span class="pi pi-cog"></span>
                </div>

                <div class="card-content">
                    <h2 class="welcome-title">WELCOME, <span class="user-name">{{ userInfo.firstName }} !</span></h2>

                    <div class="info-grid">
                        <div class="info-item">
                            <label>Test Team</label>
                            <div class="value">{{ userInfo.company.name }}</div>
                        </div>

                        <div class="info-item">
                            <label>E-mail</label>
                            <div class="value">{{ userInfo.email }}</div>
                        </div>

                        <div class="info-item">
                            <label>Sales Person</label>
                            <div class="value">{{ userInfo.company.name }}</div>
                        </div>

                        <div class="info-item">
                            <label>Contact Number</label>
                            <div class="value">{{ userInfo.phone }}</div>
                        </div>
                    </div>
                </div>

                <div class="card-visuals">
                    <div class="avatar-container">
                        <img [src]="userInfo.image" alt="User Avatar" class="dashboard-avatar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="apiStatus$ | async as apiStatus">
    <div class="loader-container">
        <app-loader *ngIf="apiStatus === 'loading'" [size]="80"></app-loader>
    </div>
</ng-container>