<header class="top-header">
    <div class="page-title">
        <h1>{{ pageTitle$ | async }}</h1>
    </div>

    <div class="header-right">
        <div class="notification-wrapper">
            <span class="pi pi-bell"></span>
            <span class="notification-dot"></span>
        </div>

        <div class="profile-wrapper" *ngIf="userInfo$ | async as userInfo">
            <img [src]="userInfo.image" alt="Profile" class="header-avatar" />
        </div>

        <ng-container *ngIf="apiStatus$ | async as apiStatus">
            <div class="loader-container">
                <app-loader *ngIf="apiStatus === 'loading'" [size]="40"></app-loader>
            </div>
        </ng-container>
    </div>

    <div class="decoration">
        <div class="decoration-wrapper">
            <div class="decoration-light"></div>
            <div class="decoration-dark" [class.dashboard]="isDashboard$ | async"></div>
        </div>
    </div>
</header>