:host {
    display: block;
    height: 100vh;
    overflow: hidden;
    --sidebar-width: 250px;
}

.app-container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    height: 100%;
    background-color: #FFFFFF;
}

.app-sidebar {
    height: 100%;
    overflow-y: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.content-body {
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}